{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="content container" style="text-align: center;">
    <h1>404</h1>
    <h2>Halaman tidak ditemukan</h2>
    <hr>
    <a href="{% url 'home:index' %}" class="btn btn-primary button2">Kembali ke Halaman Utama</a>
</div>
{% endblock content %}
