{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block meta %}
<title>Keranjang Belanjaan</title>
{% endblock meta %}

{% block content %}
<div class="content keranjang">
  <div class="container">
    <!--- SHOPPING CART --->    
      <div class="row cart">        
        <div class="col-md-8">
          <div class="cart d-flex flex-row align-items-center my-3" style="background-color: #E0C387;">
            <h4 class="hkeranjang">Shopping Cart</h4>
          </div>
          {% if produk|length > 0 %}
          {% for pd in produk %}     
          <div class="card mb-2 card-keranjang card-produk-keranjang" style="max-width:100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="{% url 'detail:detailproduk' pd.product.id %}">
                  <img src="{{ pd.product.foto }}" class="card-img img-card-keranjang" alt="#">
                </a>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <a href="{% url 'detail:detailproduk' pd.product.id %}" style="color: black;">
                    <h5 class="card-title">{{ pd.product.nama|truncatechars:15 }}</h5>
                  </a>
                  <p class="card-text">Rp {{ pd.product.harga|intcomma }}</p>                  
                  <div class="form-inline card-text">
                    <small>
                      qty:&nbsp;
                    </small>
                    <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="detail_id" value="{{ pd.product.id }}">
                    <button formaction="{% url 'keranjang:decPOST' %}" type="submit" class="button1"{% if pd.jumlah == 1 %} disabled {% endif %}>-</button>
                    {{ pd.jumlah }}
                    <button formaction="{% url 'keranjang:incPOST' %}" type="submit" class="button1"{% if pd.jumlah == pd.product.stok %} disabled {% endif %} >+</button>
                    <button formaction="{% url 'keranjang:delPOST' %}" type="submit" class="button1">delete</button>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>Belum ada produk ditambahkan. <a href="{% url 'produk:listproduk' %}">Tambah Produk.</a> </h5>
            {% endif %}
            {% if produk|length > 0 %}
          <div class="cart d-flex flex-row align-items-center my-3" style="background-color: #E0C387;">
            <h4 class="hkeranjang">Shipping Details</h4>
          </div>
            <div class="container card card-keranjang" style="padding-top:10px">              
              <div class="myform form">
                
                <form action="/keranjang/checkout" method="POST">
                  {% csrf_token %}
                  <div>
                    {{ form }}
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="cart d-flex flex-row align-items-center my-3" style="background-color: #E0C387;">
            <h4 class="hkeranjang">Summary</h4></div>
            <div class="card p-4  card-keranjang">
              <div class="card-title">
                {% for pd in produk %}                     
                <p>{{ pd.jumlah }}x {{ pd.product.nama|truncatechars:20 }}
                  <span class="float-right subtotal1">
                    {% with jumlah=pd.jumlah harga=pd.product.harga %}
                    Rp {{ jumlah|mul:harga|intcomma }}
                    {% endwith %}
                  </span>
                </p>                      
                {% endfor %}
                <hr>
                <div>
                  <div class="float-left">Ongkos Kirim</div>:
                  <div id="totalPrice" class="float-right">-</div>
                </div>
                <div class="float-left">Total Harga:</div>
                  <div id="totalPrice" class="float-right">Rp {{ totalHarga|intcomma }}</div>
              </div>
              
                <hr>              
                    <input class="btn btn-primary btn-lg w-100 button2" type="submit" value="Checkout">      
                </form>
                {% endif %}
            </div>            
        </div>
      </div>
    </div>
</div>
{% endblock content %}
