{% extends 'base.html' %}
{% load static %}

{% block title %}Tambah Produk {% endblock %}

{% block content %}
   <div class="container " style="margin-top:5%;text-align:center">
    <h1>Tambah Produk</h1>
    <div class="row d-flex justify-content-center">
         <div class="card " style="width:35rem; background:#E0C387">
            <div class="col-md-12 justify-content-center">
               <div class="myform form ">
                  <form id="form" action="" method="POST" >
                     {% csrf_token %}
                     <div class="form-group" style=" padding-right:5%; padding-left:5%; padding-top: 5%">
                        {{ form }}
                        <div class="text-center" >
                           <input type="submit" class="btn btn-primary" style="background:white; color:black; border:black;" value="Submit">
                        </div>
                     </div>
                  </form>
               </div>
            
            </div>
         </div>
      </div>
   </div> 

{% endblock  %}