{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}List Produk {% endblock %}

{% block content %}

    <div style="margin-top:3%; margin-left:3%">
        <div class="row" style="">
            {% for pd in produk %}
               {% if pd.stok > 0 %}
                <div class="card" style="width: 16rem; margin-left:4%; margin-bottom:4%">
                    <img src="{{ pd.foto }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ pd.nama }}</h5>
                                <a href="{% url 'detail:detailproduk' detail_id=pd.id %}"> 
                                    <button  style='background-color:#00395E; border: #00395E; width:94px; height:31px;' class="btn btn-primary btn-lgN">Details</button>
                                </a>
                                <a href="{% url 'keranjang:tambah' detail_id=pd.id %}"> 
                                    <img src={% static 'troli.png' %} >
                                </a>
                            <h5 style="text-align:right">Rp{{ pd.harga|intcomma }}</h5>
                        </div>
                    </div>
                {% endif %}    
            {% endfor %}
        </div>
    </div>
{% endblock content%}