@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.font1{
    font-family: Poppins;
    font-size: 16;
    text-align: center;
}

.nav-link,
.navbar-brand {
    color: navy !important;
    cursor: pointer;
}
      
.nav-link:hover {
    color: #000;
}
      
.navbar-collapse {
    justify-content: flex-end;
}

.keranjang h4{
    padding: 5pt;
    background-color: #E0C387;
}

.card-keranjang {
    border-radius: 3px;
    border-color: #c4c4c4;
    
}
.button1 {
    border: 1px solid;
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.button1:hover {
    border: 1px solid;
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    transform: scale(1.05);
}

.button2 {
    border: 2px solid #00395E;
    border-radius: 10px;
    background: #00395E;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0.25));
}

.button2:hover{
    border: 2px solid #00395E;
    border-radius: 10px;
    background: #00395E;
    filter: drop-shadow(2px 4px 4px rgb(0, 0, 0.5));
    transform: scale(1.05)
}

.hkeranjang {
    margin-left: 20px;
    margin-top: 5px;
}


.footer {
    color: white;
    position: absolute;
    width: 100%;
    margin-top: 15pt;
    padding: 15pt;
    background: #00395E;
    height: 75pt;
    text-align: center;
}

/*css untuk detail produk*/
.judul{
    background-color: #E0C387;
    padding:2%;
    width: 150%;
}
.detail{
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 2%;
    width: 150%;
}
.formtesti{
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 2%;
    width: 50%;
}

/*
.row {
    width: 586px;
    height: 594px;
    left: 438px;
    top: 357px;
}
*/