{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="{% static 'js/scripts.js' %}"></script>
    <title>{% block title %}MEDISALE{% endblock %}</title>
</head>

<body>
    <nav class="sticky-top">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: white;">
            <a class="navbar-brand font1" href="/"><img src="{% static 'img/logo.png' %}" class="img-responsive" style="width:60%" alt="Image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" style="text-decoration: navy;">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>BERANDA</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'produk:listproduk' %}"><b>PRODUK</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'keranjang:keranjang' %}"><b>KERANJANG</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bantuan"><b>BANTUAN</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if hide_nav_2 == None %}
            {% include 'navbar2.html' %}
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
    {% if hide_footer == None %}
        {% include 'footer.html' %}
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>