<nav class="navbar navbar-dark sticky-top justify-content-between" style="background-color: #00395e;">
    <form class="form-inline" action="{% url 'produk:listproduk' %}" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="carinama" placeholder="Cari Produk" aria-label="Cari Produk">
        <button class="btn btn-outline-primary" type="submit" style="background-color:#CEE8F9;">Search</button>
    </form>
    <a href="{% url 'produk:addproduk'%}"> 
        <button type="button" class="btn btn-light flex-row-reverse"><b>TAMBAH PRODUK</b></button>
    </a>
</nav>