{% extends "base.html" %}
{% load static %}

{% block meta %}<title>Bantuan</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="flex flex-col">
    <div class="title-top">
        <div class="center" align="center">
            <h1 class="title" style="color: navy; font-family: Poppins; margin-top: 2%; margin-bottom: 2%;">Bantuan</h1>
    </div>
    <div class="row font2" style="margin-top: 5; margin-bottom: 5%;">
        <div class="col-sm-5">
            <div class="container" style="display: flex; justify-content: center; align-items: center;">
                <div class="flex">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="text-sm">
                                {{form.name.label_tag}}
                            </div>
                            {{form.name}}
                        </div>
                        <div class="form-group">
                            <div class="text-sm">
                                {{form.question.label_tag}}
                            </div>
                            {{form.question}}
                        </div>
                        <a href="#">
                            <button type="submit" value="Submit" class="btn btn-primary btn-lg w-100 button2"" style="font-size: 12px; margin-bottom: 5%;">Submit</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <section class="container" style="justify-content: center; align-items: center;">
                {% for x in pertanyaan %}
                    <br>
                    <details>
                        <summary>{{ x.question }}</summary>
                        {% if x.answer|length == 0 %}
                            <p>kami akan segera menjawab pertanyaanmu, sabar yahh :)</p>
                        {% else %}
                            <p class="p-3">{{ x.answer }}</p>
                        {% endif %}
                    </details>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
